<div class="win">
<p>
    Author:
    {{quote.author}}</p>
<p>
    publisher:
    {{quote.publisher}}</p>
<p>Created {{quote.completeDate|dateCount}} days ago</p>

<div class="row">
        <div class="col-md-7">
          <a href="" (click)="voteUp()">
            <i class="fas fa-thumbs-up " style="font-size:30px;color:blue;"></i>
          </a> {{likes}}
        </div>
        <div class="col-md-5">
          <a href="" (click)="voteDown()">
            <i class="fas fa-thumbs-down" style="font-size:30px;color:red;"></i>
          </a> {{disLikes}}
        </div>
      </div>
</div>
<button class="btn btn-outline-danger" (click) = 'quoteDelete(true)'> Delete Quote </button>