body {
    text-align: center;
    border-top: 20px;
    font-size: 25px;
    background-image: url("http://b.rgbimg.com/users/b/ba/ba1969/600/mJ0D1ys.jpg");
}
h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
}
.row {
    font-family: 'Indie Flower', cursive;
}
.win {
    font-family: 'Indie Flower', cursive;
}
.ne {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}